:root {
    --body-bg-color: rgba(8, 8, 8, 0.9);
    --text-color: rgba(255, 255, 255, 0.99);
    --borders-color: rgba(255, 255, 255, 0.99);
}

body {
    background-color: var(--body-bg-color);
}

.logo {
    color: var(--text-color);
}

.toggle-text {
    color: #ffffff;
}

.aside-nav {
    border: 1px solid var(--borders-color);
}

.content-image {
    border: 1px solid var(--borders-color);
}

.nav-bar-aside {
    color: var(--text-color);
}

.text {
    color: var(--text-color);
}

.footer-nav-bar {
    color: var(--text-color);
}

.copyright {
    color: var(--text-color);
}
