body {
  box-sizing: border-box;
  font-family: Roboto;
  margin: auto 100px;
}

/* header */

.logo-theme-wrapper {
  display: flex;
}

.logo {
  color: #000;
  text-align: center;
  font-size: 80px;
  text-decoration: none;
  margin: 63px 0 40px;
  width: 250px;
}

.ios-toggle {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  width: 5.3em;
  margin: 49px 0 0 909px;
}

.ios-toggle input,
.ios-toggle input:active {
  border: 0;
  height: 0;
  opacity: 0;
  outline: none;
  position: absolute;
  left: -5000px;
  width: 0;
}

.ios-toggle label {
  background: #f8f8f8;
  border: 0.2em solid #ddd;
  border-radius: 1.6em;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 3.2em;
  padding: 1em;
  position: relative;
  transition: 0.3s ease-out;
  width: 100%;
}

.ios-toggle label::before {
  background: #ffffff;
  border-radius: 1.4em;
  box-shadow: 0 0.3em 0.3em rgba(0, 0, 0, 0.2), 0 0 0 0.1em #ddd;
  content: "";
  display: block;
  height: 2.8em;
  left: 0;
  position: absolute;
  right: auto;
  text-indent: 4em;
  top: 0;
  transition: 0.25s ease-in-out;
  width: 2.8em;
  z-index: 2;
}

.ios-toggle label::after {
  background: #f8f8f8;
  border-radius: 1.4em;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.25s ease-in-out;
  width: 2.8em;
  z-index: 1;
}

.ios-toggle input:active+label::before {
  width: 3.2em;
}

.ios-toggle input:checked+label {
  border-color: #13bf11;
  box-shadow: inset 0 0 0 2em #13bf11;
}

.ios-toggle input:checked+label::after {
  background-color: #13bf11;
  right: 1.4em;
  width: 100%;
}

.ios-toggle input:checked+label::before {
  box-shadow: 0 0 0 0.1em transparent, 0 0.3em 0.3em rgba(0, 0, 0, 0.3);
  left: calc(100% - 2.8em);
}

.ios-toggle input:checked:active+label::before {
  left: calc(100% - 3.2em);
}

.toggle-text {
  color: #2C2C2C;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: larger;
  text-align: center;
}

span {
  color: #4BCAFF;
  font-size: 80px;
}

.top-nav-bar {
  background-color: #35444F;
  height: 69px;
}

.nav-bar {
  display: flex;
  justify-content: center;
}

.top-nav-bar .item {
  margin-right: 10px;
}

.top-nav-bar .button-nav {
  padding-left: 31px;
}

.button-nav {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  padding: 22px;
  border-left: 1px solid #fff;
  transition: .3s;
}

.button-4 {
  border-right: 1px solid #fff;
}

.button-nav:hover {
  background-color: #222F3A;
}

/* main */

.main {
  margin: 49px 0;
  display: flex;
}

.aside-nav {
  border: 1px solid #000;
  width: 344px;
  height: 400px;
}

.nav-bar-aside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  white-space: nowrap;
  padding: 25px 81px 28px 42px;
  text-decoration: none;
  color: #495863;
  font-size: 27px;
  transition: .3s;
}

.nav-bar-aside:hover {
  background-color: #DBDBDB;
  color: #000;
  padding-left: 45px;
}

.content-image {
  border: 1px solid #000;
  height: 529px;
  width: auto;
  margin-left: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  transition: .3s;
}

.image:hover {
  transform: scale(1.1);
}

/* main text */

.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #2C2C2C;
  font-size: 18px;
  margin-top: 37px;
  margin-left: 53px;
}

/* footer */

.footer {
  margin-bottom: 30px;
  background: rgba(99, 105, 110, 0.48);
  height: 69px;
  width: auto;
}

.footer-nav {
  display: flex;
  justify-content: left;
  align-items: center;
  white-space: nowrap;
  margin-left: 40px;
  padding-top: 20px;
  gap: 30px;
  width: 875px;
}

.footer-nav-bar {
  text-decoration: none;
  color: #0C1927;
  font-size: 28px;
  transition: .15s;
}

.footer-nav-bar:hover {
  color: #3181a6;
  padding-bottom: 13px;
  border-bottom: 1px solid #3181a6;
}

.copyright {
  display: flex;
  color: #010101;
  font-size: 24px;
  justify-content: right;
  margin-left: 84px;
}
